[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "lib/pico-extras"]
	path = lib/pico-extras
	url = https://github.com/raspberrypi/pico-extras
[submodule "lib/freertos-kernel"]
	path = lib/freertos-kernel
	url = https://github.com/freertos/freertos-kernel
